# Use "git rm -rf --cached ." to clear cache when writing rules for existing files 
.venv
databases/r2_analysis_database
databases/transbank/CCN/*
databases/transbank/CDN/*
databases/transbank/LCN/*
databases/transbank/LDN/*
databases/transbank/bases_cuadratura/*
databases/transbank/dataframes/*
__pycache__
jupyter
local
modules/credentials/credentials.yaml
modules/snowflake_connector.py
modules/sql.py

        location /nb_cl_payback_acquisition/ {
                proxy_pass http://localhost:8892;
                proxy_set_header Host $http_host;
                proxy_http_version 1.1;
                proxy_set_header Upgrade $http_upgrade;
                proxy_set_header Connection $connection_upgrade;
        }
