# Use "git rm -rf --cached ." to clear cache when writing rules for existing files 
.venv
databases/r2_analysis_database
databases/transbank/CCN/*
databases/transbank/CDN/*
databases/transbank/LCN/*
databases/transbank/LDN/*
databases/transbank/bases_cuadratura/*
databases/transbank/dataframes/*
__pycache__
jupyter
local
modules/credentials/credentials.yaml
modules/snowflake_connector.py
modules/sql.py
